/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  margin-top: 80px;
}

.circ{
        width : 45px;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #fff;
        
        margin-right: 15px;
        }
    .circ:hover{
        box-shadow: 0 0 0 3px #f00;
}


