/*
	Synchronous by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 5em 0em;
	}
	
		.homepage #header
		{
			padding: 10em 0em;
		}

		#header .container
		{
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin-bottom: 5em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo h1 a
		{
			display: block;
			letter-spacing: 1px;
			text-decoration: none;
			
			font-size: 4em;
			font-weight: 900;
			color: green;
		}

				
			

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li
		{
			display: inline-block;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				padding: 1em 1.5em;
				letter-spacing: 1px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 200;
				font-size: 1em;
				outline: 0;
				color: white;
			}


			#nav > ul > li > a:hover
			{
				color: black;
			}

			#nav li.active a
			{
				background: #8e000E;
				border-radius: 4px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}



/*********************************************************************************/
/* Page Wrapper                                                                  */
/*********************************************************************************/

	.homepage #page {
		overflow: hidden;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content {
		padding: 0px 0px 0px 0px;
	}

	.twocolumn2 #content {
	}

	.onecolumn #content {
	}

	#content h2 {
	}

/*********************************************************************************/
/* Sidebar    r                                                                  */
/*********************************************************************************/

	#sidebar1 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar1 h2 {
	}

	#sidebar2 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar2 h2 {
	}